h1  {
    color:black;
    font-size: 24px;
    font: optional;
    margin: 7% 20.5%;
    margin-bottom: 2%;
}

table{ 
    width: 800px;
}

table.fixed {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
}

th, td {
    border: 2px solid;
    width:  110px;
    height: 60px;
}

input.largerCheckbox {
    width: 25px;
    height: 25px;
}

button.Add {
    margin-left: 1030px;
    margin-right: auto;
    margin-bottom: 20px;
}

header {
    position: absolute;
    padding: 15px;
    
    top: 0;
    background-color:  grey;
    width : 100%;
    height: 48px;
}

/*================================================================*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  
li {
    float: left;
}
  
li a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:flex;
    align-items: center;
}

li button{
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:flex;
    align-items: center;
}


li button:hover{
    background-color: #111;
}
 
li a:hover {
    background-color: #111;
}

img.profile{
    width: 22px;
    height: 22px;
}

input[type=radio] {
    accent-color: green;
}

/*===================================================================================*/


  
    

  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    

    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:flex;
    align-items: center;
  }
  
   .dropdown:hover .dropbtn {
    background-color:  #111;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 182px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*=====================================================================*/

  .circle {
    background: red;
    border-radius: 50%;
   
    height: 10px;
    width: 10px;
  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }